/*-------------GOOGLE FONT----------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


:root{
    --first-color:  hsl(354, 78%, 60%);
    --button-color:    hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: hsl(0, 1%, 60%);
    --border-color: hsl(0, 0%, 94%);
}


 /*COLORES DARK MODE

    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);*/
    .products-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--border-color);  
}


nav{
    height: 4rem;
    display: flex;
    padding: 0.5rem;

}
.logonav{
    width: 10rem;
    display: flex;
    align-items: center;
 }

 .logonav > img{
   
    height: 100%;

 }
 


.iconnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}


.moon{
    height: 50%;

}
.shopping{
  height: 35%;  
}
.menu{
    height: 40%;
    padding-top: 3px;

}
.containerheader{
    display:flex;
    justify-content: center;
    
}

header{
    display: flex;
    justify-content: end;
    height: 26rem ;
   
 
}


.displayproduct{
    height: 28rem;
    width: 70%;
    position: absolute;
    top: 0;
    background-color: var(--first-color);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2.5rem;
    max-width: 230px;
}   


.displayproduct > img{
    height: 50%;
    max-width: 400px;

    
}
.containerdescription{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.descriptionproduct{
    padding: 1rem;
}

.descriptionproduct > p{
    font-size: 15px;
    padding-top: 1rem;
}

.price1{
    color:var(--first-color);
    padding-left: 1rem;
    width: 100%;
    
    
    
}

.discover-addtocard{
    padding-top: 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center ;
    
}
#addToCart{
    height: 3rem;
    width: 10rem;
}

section > button{
    
    width: 40%;
    height: 3rem;
    border: 0ch;
    background-color: var(--button-color);
    color: #fff;
 
}

#discover{
    width: 50%;
    height: 2rem;
    background-color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerMenu-filtro{
    text-align: center;
    display: flex;
    padding: 2rem;
}

.menu-filtro{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    height: 10rem;
    width: 99%;
   
}   

.cardmenu-filtro{
    height: 100%;
    width: 100%;
    border-right:0.5px;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
   
}

.titulomenu ~ p{
    font-size: small;

}

.portafolioproduts{
  
    padding-top: 2rem;
    display: flex;
    align-items: center;
   
    flex-direction: column;
    gap: 2rem;
    
  
 
   
   
   
}

.portafolioproduts > div{
    height: 90%;
    width: 70%;
    display: flex;
    background-color: var(--card-color);
    flex-direction: column;
    border-radius: 0.4rem;
    max-width: 310px;
  
  
  

}

#details{
    height: 4rem;
    width: 100%;
    background-color: #fff;
    display: grid;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    text-align: center;
    position: relative;
    top: 32px;
    
}

.productcard{
    height: 10rem;
    object-fit: contain;
    position: relative;
    
   
}

.add{
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-style: solid;
    border-radius: 50%;
    position: relative;
    left: 170px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-color: rgb(180, 175, 175);
}


.ourinformation{
    margin-top: 4rem;
    height: 30rem;
    width: 100%;
    background-color: var(--container-color);
    
}

.information{
    padding-top: 2rem;
}



.containerredes{
    display: flex;
    background-color: var(--container-color);
    gap: 1rem;
    
   

    justify-content:initial;
    align-items: initial;

}
.containerredes > img{
    margin-top:1rem;
    height: 2%;
    width: 2%;
    
}
.uno{
    height: 7rem;
    width: 100%;
    background-color: var(--container-color);
    display: flex;
    flex-direction:column-reverse;
  
    

}
.dos{
    height: 2rem;
    text-align: center;
    font-size: 10px;

}
.navm{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    display: block;
    justify-content:end ;
    gap: 2rem;
    padding: 2rem 0;
    text-align: end;
    z-index: 1;
}
.navm > li{
    padding-top: 3rem;
    text-align: center;
}

.navm > img{
    width: 15px;
    height: 15px;
    margin-right: 1.5rem;
}

.active{
    margin-top: 11.5%;
    height: 40rem;
    width: 100vw;
    background-color: #fff;
    position: absolute;
    display:flex;
    

}

.shoppingcontainer{
   display: none;
}

.unactive{
    display: none;
}

.activeshopping{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgba(255, 255, 255, 0.797);
    align-items: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    bottom: 2390px;
    z-index: 10;
    
}   

.shoppingcontainer > .closeshop{
    width: 15px;
    margin-right: 1rem;
    position: relative;
    margin-bottom: 2rem;
    left: 40%;

}

.product{
    height: 70%;
    width: 70%;
    margin-top: 3rem;

}
.compras-list > .titlecardshop{
    text-align: center;
    padding-top: 1rem;
}
.compras-list{
    display: flex;
  align-items: center;
    
 flex-direction: column;
}

.footercart{
display: flex;
align-items: flex-end;
justify-content: space-between;  
height:100%; 
width: 85%;
padding-bottom: 1rem;

}

.numberitems{
padding-top: 2rem;
}

 .item > img{
 width: 70px;
 height: 70px;

 }
.cardshop{
    width: 8rem ;
    height: 8rem;
    background-color: var(--container-color);
    border-top-left-radius: 0.8rem;
     margin-top: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;

   
    
}
.containerprice{
    display: flex;
    justify-content: space-evenly;
}

.totals{
    margin-top: 2rem;
    background-color: rgb(201, 199, 199); 
    text-align: center;
    width: 100vw    ;


    
}

#circulo{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 34px;
    top: 32px;;
    color: #fff;
    font-size: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 0;
}

.add:hover {
  background-color: rgb(245, 177, 177);
  box-shadow: 0 4px 16px rgb(255, 1, 1);
  transition: all 0.2s ease;
  color:blueviolet
  
}

@media screen and (min-width: 768px) {

    nav{
        height: 6rem;
    }
    .logonav > img {
        width: 8rem;
        height: 8rem;
    }

    .logonav > h5{
        font-size: 30px;
    }

    #circulo{
        height: 2rem;
        width: 2rem;
        top: 50px;
        right: 40px;
        font-size: 18px;
        }

    .displayproduct{
        width: 45%;
        height: 20rem;
        max-width: 320px;
        min-height: 39rem;
    }

    header{
        margin-bottom:7rem ;
    }
    
    .descriptionproduct{
        font-size: 35px;
    }

    .descriptionproduct> p{
        font-size: 20px ;

    }
    .price1{
        width: 620px;
        
    }

    #discover{
        height: 3rem;
        width: 12rem;
        font-size: 23px;
    }

    #addToCart{
        height: 4rem;
        font-size: 23px;
        width: 15rem;
    }
    .containerMenu-filtro > div{
        font-size: 24px;
    }
    .titulomenu ~ p{
        font-size: large;
    }

    .portafolioproduts > div{
        height: 100%;
        width: 80%;
    }
    .productcard{
    
        height: 15rem;
    }
    .add{
        width: 2.8rem;
        height: 2.8rem;
     
        font-size: 25px; 
    }

    .information{
        font-size: 20px;
    }
    h4{
        background-color: var(--container-color);
    }
    .containerredes > img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .shoppingcontainer{
        position: relative;
        bottom: 2855px;
    }
    .totals{
        width: 10rem;
        height: 4rem;
    }
    .cardshop{
        width: 14rem;
        height: 14rem;
        border-radius: 3rem;
       
    }   
    .item > img{
        width: 10rem;
        height: 10rem;
        font-size: 20px;
        background-color: rgb(222, 222, 222);
        border-radius: 3rem;
    }
    .item{
        font-size: 20px;
    }



}


@media screen and (min-width: 1280px) {
    nav{
        height: 8rem;
    }

    .cardshop{
        width: 10rem ;
        height: 10rem;
        background-color: rgb(195, 195, 195);
        border-top-left-radius: 3rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 0.5rem;

       
    
      
    }

    .logonav{
        position: absolute;
        z-index: 100;
    }

    #circulo{
        right: 50px;
        top: 20px;
        z-index: 100;
        position: relative;

    }

    .imagesproductos{
        height: 14rem;
        width: 14rem;
    }

    .menu{
        display: none;
    }
    .displayproduct{
        margin-right: 3rem;
        top: -130px;

    }

    .iconnav{
        margin-right: 3rem;
    }

    .shopping{
        padding-right: 1rem;
    }

    header{
        position: relative;
        display: flex ;
        
       
    }
    .containerdescription{
        position: absolute;
        right: 250px;
        bottom: 420px;
        font-size: 25px;
    
    }
    .descriptionproduct{
        font-size: 30px;
        position: relative;
        right: 490px;
        top: 100px;
    }

    .descriptionproduct > p{
        font-size: 20px;
        width: 20rem;
        position: relative;
        right: 0x;
        
    }
    .discover-addtocard{
      width: 40;
      margin-right: 3rem;
      position: relative;
      right: 480px;
    }

    .menu-filtro{
        display: flex;
    }
    .portafolioproduts{
        flex-direction: row;
        justify-content: center;
    }

    
    #discover{
        height: 3rem;
        font-size: 23px;
        width: 8rem;
        
    }

    #addToCart{
        height: 4rem;
        font-size: 23px;
        width: 12rem;
    }

    .price1{
      width:22rem ;
      position: relative;
      right: 490px;
      top: 150px;


    }

    .information{
        display: flex;
        gap: 3rem;
        justify-content: space-evenly;  
        
    }
    .information > h4{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .our{
        padding-top: 3.1rem;
    }
    .activeshopping{
        width: 25%;
        position: absolute;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.845);
        height: 200rem;
        
    

    }
    .compras-list{
        padding-top: 3rem;
        display: flex;
        width: 100%;
        background-color: transparent;
        bottom: -400px;

      
    }

    .totals{
            
        width: 100%;
    }
    .item{
        height: 7rem;
        width: 7rem;
    }



   


}








